body {
  background: rgb(0,18,28);
  background: linear-gradient(164deg, rgba(0,18,28,1) 0%, rgba(9,58,121,1) 34%, rgba(0,255,201,1) 100%);
  height: 100vh;
  color: white;
}

.title {
  background: #000000;
  background: linear-gradient(to left, #000000 20%, #1170EB 32%, #00FFC9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px 0px rgb(248, 255, 206));
}